.Products {
    display: grid; 
    grid-template-columns: 2fr 2fr;
    grid-gap: 20mm;
}


.Products li {
    list-style: none;
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.Products button {
    margin: 2mm;
}